
<div class="input-container">
    <div>
        <label for="sas-input">Blob service SAS URL:</label>
        <input type="text" [(ngModel)]="blobSas" />
    </div>
    <div>
        <label for="sas-input">Container:</label>
        <input type="text" [(ngModel)]="blobContainer" />
    </div>
</div>

<upload-button [blobSasUrl]='blobSas' [containerName]='blobContainer' (statusMessage)="onNotify($event)"></upload-button>
<list-button [blobSasUrl]='blobSas' [containerName]='blobContainer' (statusMessage)="onNotify($event)"></list-button>


<div class="console" [innerHTML]="consoleOutput"></div>

